body{
    background-color: #EA7A32;
}

img{
    display: block;
    margin: 0 auto;
    width: 40%
    
}

h1{
    color: #1B4343;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    font-size: 2em;
}

h2{
    color: #1B4343;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
}

h3{
    color: #1B4343;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3em;
}


p{
    color: #1B4343;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1em;
}

li{
    color: #1B4343;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
}

#container{
    background-color:#D99E32 ;
    width: 90%;
    margin: 50px;
    border: 3px solid #545524;
    border-radius: 10px
}

nav{
    background-color: #D99E32;
    padding: 2px 0;
    text-align: center;
}

nav ul{
    padding: 0;
    list-style-type: none;
}

nav li{
    display: inline-block;
}

nav li a{
    display: block;
    width: 175px;
    height: 35px;
    line-height: 35px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1em;
    font-weight: bold;
    color:#1B4343 ;
    text-decoration: none;
    border: 2px double #545524;
    border-radius: 12px;
    margin: 0 10px;
}

nav li a:hover{
    background-color: #EA7A32;
    color: #1B4343;
    border: 5px double  #545524;
}

main{
    display: flex;
}

section, aside{
    border: 8px double #545524;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    
}

section{
    width: 60%;
}

aside{
    width: 40%;
    
}



.col{
    border: 5px double #545524;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    text-align: center;
    font-size: .8em;
    
    
}

#lower_area{
    display: flex;
    
}

footer{
    background-color: #D99E32;
    text-align: center;
    padding: 20px;
    color: #1B4343;
    font-weight: bold;

}

.button {
    display: block;
    background-color: #D99E32;
     color: #1B4343 ;
     text-decoration:none;
     font-weight: bold;
     font-family: 'Roboto Mono', monospace;
     width: 145px;
     height: 22px;
     line-height: 12px;
     margin-top: 9px;
     padding: 6px;
     text-align: center;
     border: 3px solid #545524;
     border-radius: 12px;
     
 }

 .button:hover{
    background-color: #EA7A32;
    color: #1B4343;
    border: 5px double #545524 ;
    text-align: center;
}

a{
    color:#1B4343 ;
    text-decoration: underline;
    border-radius: 12px;
    text-align: center;
    border: 3px solid #545524;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    line-height: 12px;
     margin-top: 9px;
     padding: 6px;
     display: block;

}

a:hover{
    background-color: #EA7A32;
    color: #1B4343;
    border: 5px double #545524;
    text-align: center;
    border-radius: 12px;

}
    
.single_page{
    width: 100%;
}

header img{
    width: 40%;
    display: block;
    margin: 0 auto;
}

.col img{
    width: 55%;
    display: block;
    margin: 0 auto;
}

aside img{
    width: 100%;
    display: block;
    margin: 0 auto;
}


  
